@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Roboto:ital,wght@1,500&display=swap');


body {
    background-color: #696969;
    font-family: Roboto, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;

}

h1 {
    margin: 30px;
}

#takequizbtn {
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    color: white;
   

}

#takequizbtn:hover {
    background-color: white;
    color: black;
    border: 4px solid black;
}

div {
    margin-top: 50px;
}


/* questions page */

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions {
    border: 3px solid black;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 50px;
   
   

}



@media only screen and (min-width: 768px) {
    

    .largefont {
        font-size: xx-large;
    }
}